Repository DNUM-SocialGouv/dsn_processing: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, sqlfluff, data-tests

isort:
  name: run isort on all
  entry: isort .
  language: system

black:
  name: run black on all
  entry: black .
  language: system

sqlfluff:
  name: run sqlfluff linter on all .sql files (non-blocking, it lasts few minutes)
  entry: sqlfluff lint .
  language: system
  verbose: true

data-tests:
  name: run data unit tests (non-blocking, it lasts few minutes)
  entry: bash ./pipeline/bash/dags/test_integration.sh
  language: system
  verbose: true
  pass_filenames: false

fix(doc) : github pages action repository
  .github/workflows/documentation.yml
Due: none

chore(readme) : update README with doc site info
  README.md
Due: none

fix(extract data) : folder architecture in data archive
  pipeline/common/extract_archives.sh
Due: data-tests

fix(doc) : github process & historical integration
  README.md
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/integration/pipeline/dags_et_orchestrateurs.doctree
  docs/build/html/_sources/integration/pipeline/dags_et_orchestrateurs.md.txt
  docs/build/html/integration/pipeline/dags_et_orchestrateurs.html
  docs/build/html/searchindex.js
  docs/integration/pipeline/dags_et_orchestrateurs.md
Due: none

fix(modify changements) : add loop to remove nested cycles
  core/sql/monthly_integration/modify_changements_contrats.sql
  core/sql/monthly_integration/modify_changements_salaries.sql
  core/sql/utils.py
Due: isort, black, sqlfluff, data-tests

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  sqlfluff: any of: \.sql$
  data-tests: any of: ^(core|pipeline|tests)/
